{% for idea in ideas %}  <!-- Laço de repetição para renderizar as 4 divs de uma vez.-->
                     <div class="idea">
                            <img 
                            src="{{idea.image}}" 
                            alt="Imagem de {{idea.title}}">

                     <div class="content">
                            <h3>{{idea.title}}</h3>
                            <p>{{idea.category}}</p>
                            <div class="description">
                                   {{idea.description}}
                            </div>
                            <a href="{{idea.link}}" id="ideiasx" target="_blank">Ir para a ideia</a>
                     </div>
              </div>
{% endfor %}  